:root {
    --blue: hsl(207, 94%, 50%);
    --comp: #F87309;
    --black: #010101;
    --grey-bg: rgb(245, 245, 245);
    --money: hsl(98, 39%, 42%);

}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

/* header */
#header {
    width: 99.5%;
    max-width: 99.5%;
    min-height: 15%;
    max-height: 15%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .1em solid black;
    background-color: var(--black);
}

#header-img {
    display: block;
    margin: auto;
    width: 20%;
    max-width: 20%;
    height: auto;
}

#nav-bar {
    width: 30%;
    margin: 1.5% auto;
}

.nav-list {
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav-item {
    color: black;
    padding: 2%;    
    border-radius: 6px;
    box-shadow: 0 0 .1em rgb(200, 200, 200);
}

.nav-item:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.nav-link {
    color: var(--blue);
    text-decoration: none;
}

/* main */
main {
    margin: 12.5% auto 2% auto;
    z-index: 1;
    max-width: 95%;

}

/* signup div */
.signup-div {
    width: 30%;
    margin: 2.5% auto;
    border-radius: 8px;
    background-color: var(--grey-bg);
    box-shadow: 0 0 .2em var(--black);
    padding: .5%;
}

.signup-div header * {
    text-align: center;
}


.signup-div form fieldset {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.signup-div form input {
    padding: 1.5%;
    margin: 1%;
    border-radius: 4px;
}

.signup-div [type='email'] {
    border: .05em groove var(--black);
}

.signup-div [type='email']:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 .1em rgb(120, 120, 120);
}

.signup-div [type='submit'] {
    background-color: var(--comp);
    color: white;
    border: .1em solid black;
}

.signup-div [type='submit']:hover {
    transition: .5s;
    transform: scale(1.02);
    color: var(--blue);
    background-color: var(--black);
    cursor: pointer;
}


/* features container */
.features-container {
    width: 66%;
    margin: 5% auto;
}

.feature {
    margin: 5% auto;
}

.feature header {
    width: 30%;
    text-align: center;
}

.feature-details {
    display: flex;
    justify-content: space-between;
}

.feature-image-container {
    border-radius: 8px;
    width: 30%;
    max-width: 30%;
}

.feature-image {
    margin: 2% auto;
    display: block;
    max-width: 100%;
}

.feature-desc {
    margin: 1% 2.5%;
    padding: 2%;
    align-self: center;
    text-align: justify;
    line-height: 1.5rem;
    width: 60%;
}


/* video container */
.video-container {
    height: 350px;
    width: 560px;   
    border: .1em groove gainsboro;
    margin: 10% auto;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

.products-container {
    width: 75%;
    height: 80vh;
    margin: 8% auto 4% auto;
    display: flex;
    justify-content: space-between;
}

.product {
    box-shadow: 0 0 .2em var(--black);
    width: 31%;
    background-color: var(--grey-bg);
}

.product header * {
    text-align: center;
}

.product-name {
    color: var(--blue);
}

.price {
    color: var(--money);   
}

.product-image-container {
    width: 99%;
    max-width: 99%;
    height: 40%;
    max-height: 40%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 .1em var(--black);
    border-radius: 4px;
}

.product-image {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    margin: auto;
}

.product-feature-list {
    list-style:none;
    margin: 5% auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-feature {
    margin: 1% auto;
    padding-left: 2.5%;
    width: 80%;
    text-align: center;
    color: rgb(80, 80, 80);
}

.btn-buy {
    background-color: var(--comp);
    color: white;
    border: .1em solid black;
    padding: 2% 3%;
    border-radius: 6px;
    display: block;
    margin: auto;
}

.btn-buy:hover {
    transition: .5s;
    background-color: var(--black);
    color: var(--blue);
    transform: scale(1.02);
    cursor: pointer;
}

/* footer */
footer {
    border: .1em solid gainsboro;
    width: 96.5%;
    margin: 8% auto 0 auto;
    padding: 1%;
    position: relative;
    bottom: 1%;
    right: 1%;
}


/* font-details */
.nav-item {
    font-weight: 550;
}

h2 {
    font-family: Arial, Helvetica, sans-serif, serif;
}

h3, .feature-desc, .price, .product-feature {
    font-family: sans-serif, serif;
}

.price {
    font-family: sans-serif;
}

.btn-buy {
    font-size: 1rem;
}

.product-feature {
    font-weight: 550;
}

.nav-link,
.signup-div [type='submit'],
.btn-buy {
    font-weight: bold;
}
