:root {
    --blue: hsl(207, 94%, 50%);
    --comp: #F87309;
    --black: #010101;
    --grey-bg: rgb(245, 245, 245);
    --money: hsl(98, 39%, 42%);

}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

/* header */
#header {
    height: 12.5vh;
    width: 98.5vw;
    margin: auto;
    box-shadow: 0 0 .2em var(--grey-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--black);
}

#header-img {
    display: block;
    width: 30vh;
    height: 10vh;
    margin-left: 2.5vw;
}

#nav-bar {
    width: 40%;
    height: 100%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0; padding: 0;
    list-style: none;
}

.nav-item {
    margin: auto 5%;
}

.nav-link {
    text-decoration: none;
    color: var(--blue);
    border: .1em groove rgb(80, 80, 80);
    padding: 2.5%; /* investigate */
    border-radius: 4px;
}

/* main */
main {
    position: relative;
    top: 17.5vh;
}

/* signup div */
.signup-div {
    width: 25%;
    box-shadow: 0 0 .1em var(--black);
    background-color: var(--grey-bg);
    margin: auto;
    border-radius: 8px;
    padding: 1%;
}

.signup-div header * {
    text-align: center;
}

.signup-div form {
}

.signup-div fieldset {
    display: flex;
    justify-content: center;
    margin: auto;
}


/* font details */
.nav-link {
    font-weight: bold;
}